.App {
  text-align: center;
  font-size: 0.9em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg {
  background: url("./components/img/bg.jpeg");

  /*   background-color: rgba(89, 131, 252, 1);
background-image: linear-gradient(90deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);  */

  /* /* background-color: rgba(89, 131, 252, 1);
background-image: linear-gradient(185deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%); */
}

.buttonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100% !important;
  height: 40px;
}
.corner {
  border-radius: 10px;
  padding-left: 25px;
  margin-left: 25px;
  border: 1px solid #ccc;
}
.k2 {
  color: #ccc;
}

.form-control:focus {
  --tw-ring-shadow: 0 0 #ccc !important;
  --tw-box-shadow: 0 0 #ccc !important;
}
input {
  --tw-ring-shadow: 0 0 #ccc !important;
}
input:focus {
  --tw-ring-shadow: 0 0 #ccc !important;
}

.btn-small {
  border-radius: 50px;
  min-width: 60px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.toastError {
  border: 1px solid black;
  color: white;
  background-color: red;
}
.toastSuccess {
  border: 1px solid black;
  color: white;
  background-color: green;
}

.toastLoading {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.imgLogin {
  margin-top: 0px;
  height: 35px;
  cursor: pointer;
}

.k2webdevLink {
  color: #808080;
  text-decoration: none;
  font-size: 0.898;
  text-transform: uppercase;
  font-weight: 700;
}

.k2webdevLink:hover {
  color: black;
}

.orange {
  color: orange;
}

.App {
  text-align: left;
  display: flex;
}

.showTask {
  display: none;
}

.containerCard {
  margin-top: 20px;
  margin-bottom: 100px;
  border: 0px solid grey;
  border-radius: 15px;
  padding: 25px;
}

.imgTable {
  height: 35px;
  cursor: pointer;
}
.imgSetting {
  height: 25px;
  cursor: pointer;
}

hr {
  font-size: 0.3em;
  height: 2px;
  margin: 1em !important;
  padding-bottom: 10px;
}
.tittle {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 700;
}

.red {
  color: red;
  font-weight: 500;
}
.turkuse {
  color: #01e1e9;
}

.container {
  border: 0px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 25px;
  background-color: white;
  /*   box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2),
    0px 4px 6px 0px rgba(0, 0, 0, 0.19); */
  min-height: 85vh;
  border-bottom-width: 0px;
  width: 100%;
}
.containerFooter {
  border: 0px solid grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  border-top-color: white;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  justify-content: end;
  padding: 25px;
  border-top-width: 0px;
  background-color: white;
  width: 100%;
  /*   box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2),
    0px 4px 6px 0px rgba(0, 0, 0, 0.19); */
}
.containerBody {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 15px;
  padding-top: 15px;
}
.loginNavBar {
  width: 100% !important;
  border: 0px solid red;
  padding-right: 20px;
  font-weight: 500;
  text-align: end;
}

.down {
  padding-bottom: 0px;
  border: 0px solid red;
}

.pad10 {
  padding-left: 10px;
  padding-right: 10px;
  border: 0px solid red;
}

h4 {
  text-transform: uppercase;
}

.getCenter {
  text-align: center;
}

.getLeft {
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 0.8em;
  font-weight: 700;
}
.orange {
  color: orange;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}
.black {
  color: #999999;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}

.getRight {
  text-align: right;
  padding-bottom: 0px;
  padding-right: 25px !important;
  margin-bottom: 0px;
}
.getRightSign {
  text-align: right;
  padding-bottom: 0px;
  margin-top: 10px;
  padding-right: 0px !important;
  margin-bottom: 5px;
}

.tableFontSize {
  font-size: 1em;
}

/* .input-group {
  display: flex;
  align-content: stretch;
  text-align: left;
  vertical-align: center;
  justify-content: center;
  border: 0px solid #000;
} */

.input-group {
  display: flex;
  align-content: stretch;
  text-align: left;
  vertical-align: center;
  justify-content: center;
  border: 0px solid #000;
  width: 400px !important;
}
.main {
  display: flex;
  border: 2px solid #01e1e9;
  border-radius: 10px;
  box-shadow: 0 0 10px #01e1e9;
  border-style: groove;
  backdrop-filter: blur(250px);
}

.borderTurkuse {
  border: 2px solid #01e1e9;
  border-radius: 10px;
  box-shadow: 0 0 10px #01e1e9;
  border-style: groove;
  backdrop-filter: blur(250px);
}
.borderTurkuse:hover{
  border: 2px solid #01e1e9;
  border-radius: 10px;
  box-shadow: 0 0 10px #01e1e9;
  border-style: groove;
  backdrop-filter: blur(250px);
}
.borderTurkuse:visited{
  border: 2px solid #01e1e9;
  border-radius: 10px;
  box-shadow: 0 0 10px #01e1e9;
  border-style: groove;
  backdrop-filter: blur(250px);
}
.orangeBag{
  color:orange !important;
}

/* 
a:link {
  color: green;
}

a:visited {
  color: green;
}


a:hover {
  color: red;
}


a:active {
  color: yellow;
}
 */ 

.shadow {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
.intro {
  width: 450px !important;
  margin: 30px;
  text-align: justify;
  color: #ccc;
  font-size: 0.9em !important;
}
.akapit {
  text-indent: 20px;
}

.titleInput {
  font-size: 0.9 em;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 500;
}

.input-group-addon {
  background: #e8f0fe;
  border: 0px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 25px;
}

.input-icon-search {
  background: #e8f0fe;
  border: 0px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.input-search {
  min-width: 90% !important;
  margin-top: 0px;
  margin-left: 0px;
  height: 45px;
  background: #e8f0fe;
  border: 0px solid #ccc;
  padding: 0em 1em;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
h3 {
  color: #000;
  font-weight: 700;
  font-size: 2.3em;
  text-align: center;
  justify-content: baseline;
  border: 0px solid red;
}

.btn {
  border-radius: 50px;
  min-width: 200px;
}
.input-search:focus {
  outline: none;
}

.signUpPanel {
  width: 450px !important;
  position: absolute;
  background: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  border: 0px solid #808080;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: #999999;
}

.signCenter {
  display: contents;
}

.green {
  color: green;
}

@media all and (max-width: 992px) {
  .App {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
  }

  .intro {
    display: none;
  }
  .container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
  }
  .chanceContainer {
    width: 100%;
  }
  .containerFooter {
    border: 0px !important;
    box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 1),
      0px 0px 6px 0px rgba(255, 255, 255, 1);
  }
  .signUpPanel {
    width: 300px !important;
  }
  .container {
    border: 0px !important;
  }

  .show {
    display: true;
  }
  li {
    text-align: left !important;
  }
  red tr td:nth-of-type(2) {
    display: none;
  }
  tr td:nth-of-type(3) {
    display: none;
  }
  tr td:nth-of-type(4) {
    display: none;
  }
  .inputLogin {
    width: 180px !important;
  }
  .btn {
    margin-bottom: 5px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
