.taskButtons{
    padding-top:20px;
    padding-bottom:20px
}
.taskButtonsRightMobile{
    padding-top:20px;
    padding-bottom:20px
}

.title {
  font-size: 1em;
  text-transform: uppercase;
  margin-top:25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 700;
}

@media all and (max-width:992px) {
  .taskButtons{
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
  }
  .android{
    width:100%;
  }
 
  .taskButtonsRightMobile{
    padding-top:5px;
    padding-bottom:5px;
    padding-right: 20px;
    text-align:right;
  }
   
   
    
      tr td:nth-of-type(2) {
        display: none;
      }
      tr td:nth-of-type(3) {
        display: true;
      }
      tr td:nth-of-type(5) {
        display: none;
      }
      tr td:nth-of-type(4) {
        display: none;
      }
    
   
    
    
    }