.analiticUserBox {
  display: flex;
  text-align: center;
  vertical-align: top;
  justify-content: center;
}

li {
  font-size: 1em;
  font-weight: 300 !important;
}

.marginLeft {
  margin-left: 10px !important;
}

.bold {
  font-weight: 700;
}

.showUsers {
  display: block;
}

.analiticUserContainer {
  border: 0px solid gray;
  margin: 15px;
  padding: 15px;
  /*  */
  border-radius: 5px;
  background-color: white;
  height: 260px;
  width: 292px;
  -webkit-box-shadow: -2px 6px 42px -9px rgba(66, 68, 90, 0.59);
  -moz-box-shadow: -2px 6px 42px -9px rgba(66, 68, 90, 0.59);
  box-shadow: -2px 6px 42px -9px rgba(66, 68, 90, 0.59);
}

.up {
  padding-top: 10px;
  border: 0px solid red;
  text-align: center;
  justify-content: center;
}

.getCenter {
  text-align: center;
  justify-content: center;
}

.fullSize {
  width: 100%;
}

@media all and (max-width: 992px) {
  .analiticUserBox {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 15px;
  }

  .jcenter {
    justify-content: center;
    margin-top: 20px;
  }

  .fullSize {
    width: 95%;
    justify-content: center;
  }

  .marginLeft {
    margin-left: 0px !important;
  }

  .analiticUserContainer {
    width: 282px;
    margin: 0px;
    min-height: 200px;
    margin-bottom: 15px;
    display: inline-block;
    justify-content: center;

  }
  .analaiticsSelect{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px !important;

  }

  .analiticUserContainerChat {
    width: 100%;
    display: none;
    margin: 0px;
  }
}