.form-control{
    width: 100%!important;
}

.modal-content{
    background-image: radial-gradient(circle, rgba(245, 247, 251, 1) 0%, rgba(231, 231, 231, 1) 100%);
     font-size: 0.9em; 
    align-items: center;
}